@import url("https://cdnjs.cloudflare.com/ajax/libs/meyer-reset/2.0/reset.min.css");
* {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}
html,
body {
  margin: 0px;
  min-height: 100%;
}
/* a blue color as a generic focus style */
button:focus-visible {
  outline: 2px solid #4a90e2 !important;
  outline: -webkit-focus-ring-color auto 5px !important;
}
a {
  text-decoration: none;
}
/* @FONTWARNING[{"type": "restricted", "family": "Mont-SemiBold", "weight": "600", "style": "normal", "allowsCrossOrigin": true}] */

@font-face {
  font-family: "Mont-SemiBold";
  src: url("https://anima-uploads.s3.amazonaws.com/projects/65cf06a3a0c1e64aa8c5eaa4/fonts/mont-semibold.ttf")
    format("truetype");
}
